@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Neucha&display=swap");
.navbar {
  overflow-y: scroll;
  overflow: visible;
  width: 20rem;
  height: 100vh;
  position: absolute;
  background-color: #050505ff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  z-index: 1000;
  -webkit-box-shadow: 0.05rem 0 0.4rem rgba(255, 255, 255, 0.295);
          box-shadow: 0.05rem 0 0.4rem rgba(255, 255, 255, 0.295);
}

.navbar .navbar-close {
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3rem;
  width: 5rem;
  height: 6rem;
  background: #050505ff;
  position: absolute;
  right: -5rem;
  border-radius: 0 50% 50% 0;
}

.navbar::-webkit-scrollbar {
  width: 0.2rem;
}

.navbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.navbar::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1rem white;
          box-shadow: 0 0 1rem white;
}

.navbar_buttons {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

.navbar_link .navbar_label {
  background-color: whitesmoke;
  color: black;
  font-weight: 900;
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 0;
  text-align: center;
  border-radius: 10px;
  overflow-x: hidden;
  border: 1px groove gray;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
          box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
}

.navbar_link .navbar_label:hover {
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.navbar_patterns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_patterns .pattern_btn {
  background-color: #8fdbdb;
  color: black;
  font-weight: 900;
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 0;
  text-align: center;
  border-radius: 10px;
  overflow-x: hidden;
  border: 1px groove gray;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
          box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
}

.navbar_patterns .pattern_btn:hover {
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.content_modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 150;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.4);
}

.content_modal.modal--close {
  visibility: hidden;
}

.content_modal .modal_form {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name colorp" "size colorp" "form colorp" " button button";
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
  width: 50%;
  background-color: #121212;
  border-radius: 10px;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem rgba(255, 254, 254, 0.2), inset -0.2rem -0.2rem 1rem rgba(0, 0, 0, 0.99);
          box-shadow: inset 0.1rem 0.1rem 1rem rgba(255, 254, 254, 0.2), inset -0.2rem -0.2rem 1rem rgba(0, 0, 0, 0.99);
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.content_modal .modal_form .modal_nameP {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_sizeP {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: size;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_formP {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_colorP {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: colorp;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_input--text {
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  font-size: 1.2rem;
  width: 50%;
  outline-style: none;
}

.content_modal .modal_form .modal_btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
  font-weight: 600;
  margin: 0 auto;
  padding: 1rem 4rem;
  border-radius: 10px;
  overflow-x: hidden;
  border: 1px groove gray;
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset -0.1rem -0.1rem 0.5rem rgba(0, 0, 0, 0.99);
          box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset -0.1rem -0.1rem 0.5rem rgba(0, 0, 0, 0.99);
}

.content_modal .modal_form .modal_btn:hover {
  -webkit-box-shadow: inset -0.1rem -0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.99);
          box-shadow: inset -0.1rem -0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.99);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #567895;
}

.container .container__classes {
  width: 90%;
  height: 90%;
  min-height: 100vh;
  margin: 0vh auto;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0.5rem;
          box-shadow: 0 0 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[5];
      grid-template-columns: repeat(5, 2fr);
  -ms-grid-rows: (2fr)[5];
      grid-template-rows: repeat(5, 2fr);
      grid-template-areas: ". . title . ." ". classes classes classes ." ". classes classes classes ." ". classes classes classes ." ". classes classes classes .";
}

.container .container__classes .classes__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
  margin: 7vh auto 3.5vh;
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
  color: #e7ecef;
}

.container .container__classes .classes__list {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: classes;
  margin: 3.5vh auto 7vh;
  background-color: #818f96;
  overflow-y: scroll;
  padding: 1.5em 3rem;
  width: 85%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
}

.container .container__classes .classes__list .classes__link .classes__item {
  margin: 1.5rem auto 3rem;
  padding: 0.3em 1rem;
  max-width: 200px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: black;
  background-color: #d2d7d9;
  border: 1px solid black;
  border-radius: 5px;
}

.container .container__classes .classes__list .classes__link .classes__item:hover {
  -webkit-box-shadow: 0 0 0.1rem;
          box-shadow: 0 0 0.1rem;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 768px) {
  .container__classes {
    max-width: 720px;
    margin: 0vh auto;
  }
  .container__classes .classes__list {
    width: 60vh;
  }
}

@media (max-width: 768px) {
  .container__classes {
    margin-top: 2vh !important;
  }
}

/* --------------Clase 1-------------- */
.container__classOne {
  width: 100%;
  height: 100vh;
  background-color: #567895;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__classOne .classOne__button {
  font-size: 3rem;
  color: #e7ecef;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

/* --------------Clase 2-------------- */
.container__classTwo {
  width: auto;
  height: 100vh;
  padding-left: 20rem;
  background-color: #567895;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__classTwo .classTwo__button {
  font-size: 3rem;
  color: #e7ecef;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

/* --------------General-------------- */
.arrow {
  border: 10px solid #e7ecef;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 0.7rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem black;
          box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.jslogo {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  padding: 1rem 1.3rem;
  font-family: "Neucha", cursive;
  font-size: 3rem;
  color: #e7ecef;
  z-index: 2000;
  background-color: black;
  border-radius: 0 0 5px 0;
  -webkit-box-shadow: 0 0 0.5rem white;
          box-shadow: 0 0 0.5rem white;
}

.sign {
  position: fixed;
  bottom: 8vh;
  right: -6.2vh;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: #e7ecef;
  background-color: black;
  border-radius: 5px 5px 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (min-width: 768px) {
  .sign {
    bottom: 0;
    right: 6vh;
    font-size: 2.5rem;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .jslogo {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    font-size: 6rem;
    padding: 2rem 1.3rem 0 3rem;
  }
}

.setting_addPattern {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: auto;
  width: 10rem;
  min-width: 6rem;
  max-width: 10rem;
  color: black;
  font-weight: 600;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  overflow-x: hidden;
  cursor: pointer;
  border: 1px groove whitesmoke;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
          box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
}

.setting_addPattern:hover {
  background: whitesmoke;
}

.setting_addPattern:active {
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}
/*# sourceMappingURL=style.css.map */