@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Neucha&display=swap");
@import "clase8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

$backg: #365f88;
$blanco: #e7ecef;
$azul: #567895;
$list: #818f96;
$firma: #8b8c89;
$sec-font: "Neucha", cursive;

.container {
    width: 100%;
    height: auto;
    background-color: $azul;
    .container__classes {
        width: 90%;
        height: 90%;
        min-height: 100vh;
        margin: 0vh auto;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0.5rem;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        grid-template-rows: repeat(5, 2fr);
        grid-template-areas: ". . title . ." ". classes classes classes ." ". classes classes classes ." ". classes classes classes ." ". classes classes classes .";
        .classes__title {
            grid-area: title;
            margin: 7vh auto 3.5vh;
            font-size: 4rem;
            font-weight: 600;
            font-style: italic;
            color: $blanco;
        }
        .classes__list {
            grid-area: classes;
            margin: 3.5vh auto 7vh;
            background-color: $list;
            padding: 1.5em 3rem;
            width: 85%;
            height: auto;
            border-radius: 5px;
            border: 1px solid black;
            .classes__link {
                .classes__item {
                    margin: 1.5rem auto 3rem;
                    padding: 0.3em 1rem;
                    max-width: 200px;
                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;
                    color: black;
                    background-color: #d2d7d9;
                    border: 1px solid black;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: 0 0 0.1rem;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .container__classes {
        max-width: 720px;
        margin: 0vh auto;
        .classes__list {
            width: 60vh;
        }
    }
}

@media (max-width: 768px) {
    .container__classes {
        margin-top: 2vh !important;
    }
}

/* --------------Clase 1-------------- */

.container__classOne {
    width: 100%;
    height: 100vh;
    background-color: $azul;
    display: flex;
    justify-content: center;
    align-items: center;
    .classOne__button {
        font-size: 3rem;
        color: $blanco;
        text-shadow: 0.1rem 0.1rem 0.1rem black;
    }
}

/* --------------Clase 2-------------- */

.container__classTwo {
    width: 100%;
    height: 100vh;
    background-color: $azul;
    display: flex;
    justify-content: center;
    align-items: center;
    .classTwo__button {
        font-size: 3rem;
        color: $blanco;
        text-shadow: 0.1rem 0.1rem 0.1rem black;
    }
}

/* --------------General-------------- */

.arrow {
    border: 10px solid $blanco;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 0.7rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.jslogo {
    position: sticky;
    text-align: center;
    padding: 1rem 1.3rem;
    font-family: $sec-font;
    font-size: 3rem;
    color: $blanco;
    z-index: 2000;
    background-color: black;
    border-radius: 0 0 5px 0;
    box-shadow: 0 0 0.5rem white;
}

.sign {
    position: fixed;
    bottom: 8vh;
    right: -6.2vh;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: $blanco;
    background-color: black;
    border-radius: 5px 5px 0 0;
    transform: rotate(-90deg);
}

@media (min-width: 768px) {
    .sign {
        bottom: 0;
        right: 6vh;
        font-size: 2.5rem;
        transform: rotate(0);
    }
    .jslogo {
        position: fixed;
        display: inline-block;
        top: 0;
        left: 0;
        font-size: 6rem;
        padding: 2rem 1.3rem 0 3rem;
    }
}
.setting_addPattern {
    background-color: hsla(0, 0%, 100%, 0.8);
    display: inline-block;
    width: auto;
    width: 10rem;
    min-width: 6rem;
    max-width: 10rem;
    color: black;
    font-weight: 600;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    overflow-x: hidden;
    cursor: pointer;
    border: 1px groove whitesmoke;
    box-shadow: 0.1rem 0.1rem 0.3rem rgb(184, 184, 184),
        -0.1rem -0.1rem 0.3rem rgb(148, 144, 144);
    &:hover {
        background: hsla(0, 0%, 96%, 1);
    }
    &:active {
        box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4),
            inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4),
            inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4),
            inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
    }
}
